{% extends 'base.html' %}
{% block body %}
</br>
</br>
</br>
<div class="container text-center" >

<main role="main" class="inner cover">
    <h1 class="cover-heading"><i>About me...</i></h1>
        <p class="lead"><i>I am Akshay Srivastava creater of this blog.The blog in itself is complete though much more
        enhancement and improvement can be made it..Will be great to listen from you guys click the button below to
            summit your feedback..Thanks for read!!</i></p>
        <p class="lead">
          <a href="\contacts" class="btn btn-lg btn-info">feedback!</a>
        </p>
      </main>
</div>



{% endblock %}
